.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  flex: 3;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.logoutButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px;
}


.topbarCenter {
  flex: 5;
}

.searchbar {
  width: 100%;
  height: 30px;
  background-color: black;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
  margin-left: 10px;
}

.searchInput:focus {
  outline: none;
}
.lab-ul {
  list-style: none;
  position: absolute;
  top: 50px;
  width: 300px;
  background-color: white;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  z-index: 100;
}

.lab-ul li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  gap: 10px;
}

.lab-ul li:last-child {
  border-bottom: none;
}

.lab-ul li a {
  text-decoration: none;
  color: black;
}

.lab-ul li a:hover {
  text-decoration: underline;
}
.lab-ul li img{
  margin-top: 10px;
}
.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
